    // colour text
    $color-text-first: #212121;
    $color-text-second: #757575;
    $color-text-white: #FFFFFF;
    $color-hover: #2196F3;
    $color-logo: #000000;
    $color-footer: rgba(255, 255, 255, 0.6);
        //colour background
    $background-first: #FFFFFF;
    $background-second: #F5F4FA;
    $background-footer: #2F303A;

