.page-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 80px;
    background-color: #ffffff;
    z-index: 9;
}

.site-nav {
    display: flex;
    @extend %container;
}