.team {
  @extend %position;

  background-color: $background-second;
  .container {
    @extend %container;
  }
  .list {
    @extend %list;
  }
  .item {
    background-color: $background-first;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }
  .item:not(:last-child) {
    margin-right: 30px;
  }
  & img {
    margin-bottom: 30px;
  }
  & h4 {
    font-weight: 500;
    font-size: 16px;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 10px;
  }
  & p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: $color-text-second;
    margin: 0px 0px 16px 0px;
  }
}
